/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 5, ../sass/print.scss */
body {
  margin: 0;
  padding: 0;
  color: #333;
}

/* line 10, ../sass/print.scss */
.center {
  text-align: center;
}

/* line 13, ../sass/print.scss */
.btn-upload {
  background-color: #00abc5 !important;
  padding: 5px 40px;
  border: none !important;
}

/* line 18, ../sass/print.scss */
.btn-blue {
  background-color: #00abc5 !important;
  padding: 5px 40px;
  border: none !important;
  color: #fff;
}

/* line 24, ../sass/print.scss */
.btn-cancel {
  background-color: #eaeaea !important;
  padding: 5px 40px;
  color: #00abc5;
}

/* line 29, ../sass/print.scss */
.margin-right {
  margin-right: 20px;
}
.card-form .txt{
  text-align: center;
  color: #0099b1;
}
.card-form .txt span{
  display: block;
  color: #848484;
  font-size: 12px;
}

/* line 33, ../sass/print.scss */
#header {
  background: #fafafa;
  border-top: 2px solid #00abc5;
  padding: 20px 0;
}
/* line 38, ../sass/print.scss */
#header .desktop .clearfix {
  width: 100%;
}
/* line 43, ../sass/print.scss */
#header .desktop .clearfix .right .menus ul {
  padding: 0;
  margin: 0;
}
/* line 46, ../sass/print.scss */
#header .desktop .clearfix .right .menus ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
/* line 50, ../sass/print.scss */
#header .desktop .clearfix .right .menus ul li:last-child {
  margin-right: 0;
}
/* line 53, ../sass/print.scss */
#header .desktop .clearfix .right .menus ul li a {
  color: #848484;
}
/* line 55, ../sass/print.scss */
#header .desktop .clearfix .right .menus ul li a .user {
  border: 1px solid;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  position: relative;
  top: 4px;
}
/* line 75, ../sass/print.scss */
#header .mobile .navbar-nav li {
  list-style: none;
  border-bottom: 1px solid #888;
}
/* line 78, ../sass/print.scss */
#header .mobile .navbar-nav li a {
  padding: 10px 0;
  color: #333;
  display: block;
}

/* line 88, ../sass/print.scss */
#main {
  background: #f8f8f8;
}
/* line 90, ../sass/print.scss */
#main .content-page {
  padding: 50px 0;
}
/* line 93, ../sass/print.scss */
#main .content-page .form-submit-wrapper .card-form {
  margin-bottom: 5%;
  padding: 5%;
  background: #fff;
  border-left: 2px solid #00abc5;
}
/* line 99, ../sass/print.scss */
#main .content-page .form-submit-wrapper .card-form .form-group input {
  border: none;
  background: #f8f8f8;
}
/* line 105, ../sass/print.scss */
#main .content-page .form-submit-wrapper .inner-title {
  padding-bottom: 10px !important;
  margin-bottom: 0 !important;
}
/* line 109, ../sass/print.scss */
#main .content-page .form-submit-wrapper .col-block {
  background: #fff;
  padding: 5%;
  margin-bottom: 5%;
  border: 1px solid #848484;
}
/* line 114, ../sass/print.scss */
#main .content-page .form-submit-wrapper .col-block textarea {
  border: none;
}
/* line 118, ../sass/print.scss */
#main .content-page .form-submit-wrapper .col-block .right .btn-hapus {
  border: 1px solid #00abc5;
  background: #fff;
  color: #00abc5;
  padding: 5px 40px;
}
/* line 125, ../sass/print.scss */
#main .content-page .form-submit-wrapper .col-block .file-attch {
  background: url(../img/ico-resume.png) no-repeat left center;
  color: #0099b1;
  margin: 10px 0;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 133, ../sass/print.scss */
#main .content-page .form-submit-wrapper .col-block .attch-done {
  background: url(../img/ico-check.png) no-repeat left center;
  color: #339933;
  padding-left: 40px;
}
/* line 139, ../sass/print.scss */
#main .content-page .form-submit-wrapper .send {
  background: #00abc5;
  padding: 5px;
  color: #fff;
  width: 30%;
}
@media screen and (max-width: 568px) {
  /* line 139, ../sass/print.scss */
  #main .content-page .form-submit-wrapper .send {
    width: 100%;
  }
}
/* line 149, ../sass/print.scss */
#main .content-page .title {
  border-bottom: 1px solid #eee;
  font-weight: normal;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* line 155, ../sass/print.scss */
#main .content-page .small-title {
  font-weight: normal;
  font-size: 20px;
}
/* line 159, ../sass/print.scss */
#main .content-page .list-deep {
  margin: 40px 0;
}
/* line 162, ../sass/print.scss */
#main .content-page .list-deep ul li {
  margin-left: 20px;
  margin-bottom: 20px;
  list-style: none;
}

/* line 172, ../sass/print.scss */
#before-footer {
  background: #f8f8f8;
  padding: 25px 0;
  border-top: 1px solid #bcbcbc;
}
/* line 176, ../sass/print.scss */
#before-footer .row {
  width: 100%;
}
@media screen and (max-width: 991px) {
  /* line 176, ../sass/print.scss */
  #before-footer .row {
    width: auto;
  }
}
/* line 181, ../sass/print.scss */
#before-footer .row .txt {
  display: flex;
  align-items: center;
  height: 70%;
}
/* line 186, ../sass/print.scss */
#before-footer .row input {
  width: 100%;
}
/* line 189, ../sass/print.scss */
#before-footer .row button {
  background: #00abc5;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 7px 40px;
}
@media screen and (max-width: 568px) {
  /* line 189, ../sass/print.scss */
  #before-footer .row button {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 189, ../sass/print.scss */
  #before-footer .row button {
    width: 100%;
    padding: 5px 20px;
  }
}
/* line 204, ../sass/print.scss */
#before-footer .sosmed {
  text-align: right;
}
@media screen and (max-width: 991px) {
  /* line 204, ../sass/print.scss */
  #before-footer .sosmed {
    text-align: center;
  }
}
/* line 209, ../sass/print.scss */
#before-footer .sosmed ul {
  display: inline-block;
  padding: 5px 0;
  margin: 0;
}
/* line 213, ../sass/print.scss */
#before-footer .sosmed ul li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 213, ../sass/print.scss */
  #before-footer .sosmed ul li {
    margin-right: 18px;
  }
}
/* line 221, ../sass/print.scss */
#before-footer .sosmed ul li:last-child {
  margin-right: 0;
}
/* line 224, ../sass/print.scss */
#before-footer .sosmed ul li a {
  text-decoration: none;
  color: #808080;
}
/* line 227, ../sass/print.scss */
#before-footer .sosmed ul li a:hover {
  color: #7ccdef;
}

/* line 237, ../sass/print.scss */
#footer {
  background: #eaeaea;
  padding: 40px 0;
  color: #808080;
  font-size: 14px;
}
/* line 242, ../sass/print.scss */
#footer .desc {
  margin-top: 30px;
}
@media screen and (max-width: 568px) {
  /* line 242, ../sass/print.scss */
  #footer .desc {
    margin: 30px 0;
  }
}
/* line 248, ../sass/print.scss */
#footer .title {
  border-bottom: 1px solid;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  padding-bottom: 5px;
}
/* line 256, ../sass/print.scss */
#footer .list ul {
  padding: 10px 15px;
}
/* line 258, ../sass/print.scss */
#footer .list ul li {
  margin-bottom: 10px;
}
/* line 260, ../sass/print.scss */
#footer .list ul li a {
  color: #808080;
}
/* line 267, ../sass/print.scss */
#footer .list-act ul {
  padding: 10px 0;
}
/* line 269, ../sass/print.scss */
#footer .list-act ul li {
  list-style: none;
  margin-bottom: 10px;
  padding-left: 30px;
}
/* line 273, ../sass/print.scss */
#footer .list-act ul li:first-child {
  background: url(../img/ico-phone.png) no-repeat left center;
}
/* line 276, ../sass/print.scss */
#footer .list-act ul li:last-child {
  background: url(../img/ico-mail.png) no-repeat left center;
}
/* line 279, ../sass/print.scss */
#footer .list-act ul li a {
  color: #808080;
}

/* line 287, ../sass/print.scss */
#footer-bottom {
  background: #0099b1;
  color: #fff;
  padding: 20px 0;
}
/* line 291, ../sass/print.scss */
#footer-bottom .car-list {
  text-align: right;
}
@media screen and (max-width: 568px) {
  /* line 291, ../sass/print.scss */
  #footer-bottom .car-list {
    text-align: center;
    margin-top: 20px;
  }
}
/* line 297, ../sass/print.scss */
#footer-bottom .car-list ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}
/* line 301, ../sass/print.scss */
#footer-bottom .car-list ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
@media screen and (max-width: 568px) {
  /* line 301, ../sass/print.scss */
  #footer-bottom .car-list ul li {
    margin-right: 0;
  }
}
/* line 308, ../sass/print.scss */
#footer-bottom .car-list ul li:last-child {
  margin-right: 0;
}
