/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

body{
	margin: 0;
	padding: 0;
	color: #333;
}
.center{
	text-align: center;
}
.btn-upload{
	background-color: #00abc5 !important;
	padding: 5px 40px;
	border: none !important;
}
.btn-blue{
	background-color: #00abc5 !important;
    padding: 5px 40px;
    border: none !important;
    color: #fff;
}
.btn-cancel{
	background-color: #eaeaea !important;
    padding: 5px 40px;
    color: #00abc5;
}
.margin-right{
	margin-right: 20px;
}

#header{
	background: #fafafa;
	border-top: 2px solid #00abc5;
	padding: 20px 0;
	.desktop{
		.clearfix{
			width: 100%;
			.left{}
			.right{
				.menus{
					ul{
						padding: 0;
						margin: 0;
						li{
							list-style: none;
							display: inline-block;
							margin-right: 10px;
							&:last-child{
								margin-right: 0;
							}
							a{
								color: #848484;
								.user{
								    border: 1px solid;
								    border-radius: 50px;
								    width: 20px;
								    height: 20px;
								    display: inline-block;
								    text-align: center;
								    overflow: hidden;
								    position: relative;
								    top: 4px;
								}
							}
						}
					}
				}
			}
		}
	}
	.mobile{
		.navbar-nav{
			li{
				list-style: none;
				border-bottom: 1px solid #888;
				a{
					padding: 10px 0;
					color: #333;
					display: block;
				}
			}
		}
	}
}

#main{
	background: #f8f8f8;
	.content-page{
		padding: 50px 0;
		.form-submit-wrapper{
			.card-form{
				margin-bottom: 5%;
				padding: 5%;
				background: #fff;
				border-left: 2px solid #00abc5;
				.form-group{
					input{
						border: none;
						background: #f8f8f8;
					}
				}
			}
			.inner-title{
				padding-bottom: 10px !important;
				margin-bottom: 0 !important;
			}
			.col-block{
				background: #fff;
				padding: 5%;
				margin-bottom: 5%;
				border: 1px solid #848484;
				textarea{
					border: none;
				}
				.right{
					.btn-hapus{
						border: 1px solid #00abc5;
						background: #fff;
						color: #00abc5;
						padding: 5px 40px;
					}
				}
				.file-attch{
					background: url(../img/ico-resume.png) no-repeat left center;
					color: #0099b1;
				    margin: 10px 0;
				    padding-left: 40px;
				    padding-top: 5px;
				    padding-bottom: 5px;
				}
				.attch-done{
					background: url(../img/ico-check.png) no-repeat left center;
					color: #339933;
					padding-left: 40px;
				}
			}
			.send{
				background: #00abc5;
				padding: 5px;
				color: #fff;
				width: 30%;
				@media screen and (max-width: 568px) {
					width: 100%;
				}
			}
		}
		.title{
		    border-bottom: 1px solid #eee;
		    font-weight: normal;
		    padding-bottom: 20px;
		    margin-bottom: 20px;
		}
		.small-title{
			font-weight: normal;
			font-size: 20px;
		}
		.list-deep{
			margin: 40px 0;
			ul{
				li{
				    margin-left: 20px;
				    margin-bottom: 20px;
    				list-style: none;
				}
			}
		}
	}
}

#before-footer{
	background: #f8f8f8;
	padding: 25px 0;
	border-top: 1px solid #bcbcbc;
	.row{
		width: 100%;
		@media screen and (max-width: 991px) {
			width: auto;
		}
		.txt{
		    display: flex;
		    align-items: center;
		    height: 70%;
		}
		input{
			width: 100%;
		}
		button{
			background: #00abc5;
			border: none;
			box-shadow: none;
			border-radius: 0;
			padding: 7px 40px;
			@media screen and (max-width: 568px) {
				width: 100%;	
			}
			@media screen and (min-width: 768px)and(max-width: 991px) {
				width: 100%;
				padding: 5px 20px;
			}
		}
	}
	.sosmed{
		text-align: right;
		@media screen and (max-width: 991px) {
			text-align: center;
		}
		ul{
			display: inline-block;
			padding: 5px 0;
			margin: 0;
			li{
				list-style: none;
				display: inline-block;
				font-size: 20px;
				margin-right: 20px;
				@media screen and (min-width: 768px)and(max-width: 991px){
					margin-right: 18px;
				}
				&:last-child{
					margin-right: 0;
				}
				a{
					text-decoration: none;
					color: #808080;
					&:hover{
						color: #7ccdef;
					}

				}
			}
		}
	}
}

#footer{
	background: #eaeaea;
	padding: 40px 0;
	color: #808080;
	font-size: 14px;
	.desc{
		margin-top: 30px;
		@media screen and (max-width: 568px) {
			margin: 30px 0;
		}
	}
	.title{
		border-bottom: 1px solid;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		padding-bottom: 5px;
	}
	.list{
		ul{
			padding: 10px 15px;
			li{
				margin-bottom: 10px;
				a{
					color: #808080;
				}
			}
		}
	}
	.list-act{
		ul{
			padding: 10px 0;
			li{
				list-style: none;
				margin-bottom: 10px;
				padding-left: 30px;
				&:first-child{
					background: url(../img/ico-phone.png) no-repeat left center;
				}
				&:last-child{
					background: url(../img/ico-mail.png) no-repeat left center;
				}
				a{
					color: #808080;
				}
			}
		}
	}
}

#footer-bottom{
	background: #0099b1;
	color: #fff;
	padding: 20px 0;
	.car-list{
		text-align: right;
		@media screen and (max-width: 568px) {
			text-align: center;
			margin-top: 20px;
		}
		ul{
			display: inline-block;
			padding: 0;
			margin: 0;
			li{
				list-style: none;
				display: inline-block;
				margin-right: 10px;
				@media screen and (max-width: 568px) {
					margin-right: 0;
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}